.button {
    /* general style */
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;

    &--primary {}

    &--secondary {}

    &--tchat {
        margin-left: .3rem;
        background-color: #B13C3C;
        color: white;
    }
}
