@use '../variables/colors';
@use '../variables/mixins';

.event {
    @include mixins.flexarize(row, space-between, center);
    padding: 4vw 0;
    width: 100%;
    border-bottom: 1px solid colors.$black;

    &__data {
        font: {
            weight: bold;
            size: 5vw;
        }
    }
}

@media screen and (min-width: 992px) {
    .event {
        padding: 1.5vw;

        &__data {
            font-size: 1vw;
        }
    }
}