@use '../variables/colors';
@use '../variables/mediaqueries' as size;


.header {
  height: 5rem;
  width: 100%;
  max-width: size.$desktop;
  margin: 0 auto;
  background-color: colors.$white;
  display: flex;
  justify-content: space-between;
  &__nav {
    display: none;

    a {
      font-weight: bold;
    }
  }
}
@media only screen and (min-width: size.$small) {
  .header {
    padding: 2rem;
    &__nav {
      display: block;
    }
  }
}