@use '../variables/colors';
@use '../variables/mediaqueries' as size;
.messages {
  padding: 1rem;
  &__sender {
    display: block;
    margin-bottom: .4rem;
  }
  &__text {
    padding: 1rem;
  }
  &__text--monitor {
    background-color: #FBFBF2;
    padding: 1rem;
  }
  &__tosend {
    width: 100%;
    margin: 0 0;
    margin-top: 1.5rem;
    height: 4rem;
    display: flex;
  }
  &__input {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border: 3px solid colors.$black;
    border-radius: 4rem;
  }
  &__sender {
    display: flex;
    justify-content: start;
    
    img {
      width: 3rem;
    }
  }
  &__sender--end {
    display: flex;
    justify-content: end;
    
    img {
      width: 3rem;
    }
  }
}