@use '../variables/colors';

.tag {
    position: relative;
    padding: 2vw 4vw;
    background-color: #fff;
    border: 3px solid colors.$black;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .tag {
        padding: 0.5vw 1vw;
    }
}