@use '../variables/colors';
@use '../variables/fonts';
@use '../variables/mixins';

.title {
  font-size: 3rem;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: bold;
  color: colors.$black;
  padding: 3%;

  &--little {
    font-size: 1.5rem;
    color: colors.$green;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
  }

  &--big {
    font-size: 4rem;
    font-weight: bold;
    padding: 1% 0;
  }
}